<h3>What's your question about</h3>

<div class="help-page__categories-links-list">
    <ul>
      <li class="help-page__category-link">
        <a data-ui-sref="category({ id:1, urlTitle: 'Category-1' })" href="/help1/category/1/Category-1" class="help-page__category-link">Category 1 title</a>
      </li>
      <li class="help-page__category-link">
        <a data-ui-sref="category({ id: 2, urlTitle: 'Category-2' })" href="/help1/category/1/Category-2" class="help-page__category-link">Category 2 title</a>
      </li>
      <li class="help-page__category-link">
        <a data-ui-sref="category({ id: 3, urlTitle: 'Category-3' })" href="/help1/category/1/Category-3" class="help-page__category-link">Category 3 title</a>
      </li>
      <li class="help-page__category-link">
        <a data-ui-sref="category({ id: 3, urlTitle: 'Category-4' })" href="/help1/category/1/Category-4" class="help-page__category-link">Category 4 title</a>
      </li>
    </ul>
</div>

<a data-ui-sref="help1.other-questions.contact" href="/help1/other-questions/contact">Contact</a>
<div ui-view active></div>